# Configuration file

####################
# general
####################

general {
    # If true, erasing an RP2 disk will also delete its file. If your server relies on NBT-duplicated item stacks, you might want to set this to false.
    B:deleteErasedDisks=true

    # If true, built-in ComputerCraft software is extracted to mods/ComputerCraft/lua/rom/programs/rpc on every launch.
    B:extractComputerCraftFiles=true
}


